<div class="map-list-switch {% if mode == 'map' %}map-active{% endif %}" >
  <ul>
    <li class="list-switch">
      <a class="switch-item"
         {% if mode == "map" %}onclick="ru.stalla.seeker.goto_view(this, 'list');" style="cursor: pointer;" {% endif %} >
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <strong>&nbsp;Lijst</strong>
        <span>({{entrycount}})</span>
      </a>
    </li>
    <li class="map-switch">
      <a class="switch-item" 
         {% if mode == "list" %}
          targeturl="{% url 'werkstukmap' %}"
          onclick="ru.stalla.seeker.goto_view(this, 'map');" 
          style="cursor: pointer;" 
         {% endif %} >
        <span class="glyphicon glyphicon-map-marker"></span>&nbsp;
        <strong>Map</strong>
        <span>(60)</span>
      </a>
    </li>
  </ul>
</div>