{% extends "layout.html" %}

{% block content %}


<div class="container body-content">
  <h4>Synchronisation</h4>
  <div class="row">
    <div class="col-md-12">This page contains several administrative synchronisation options.</div>
  </div>

  <div class="row"><div>&nbsp;</div></div>

  {% if user.is_authenticated %}

    <!-- Add codicologial layer to newly imported manuscripts -->
    {% if user.is_superuser %}
      <fieldset class="module aligned" >
        <div class="row" style="border: 1px solid darkgray; padding-top: 15px;  padding-bottom: 15px;">
          <div class="col-md-4">
            <h3 class="straight" style="margin-top: 0px; margin-left: 10px;">Excel data</h3>
              <p style="margin-top: 0px; margin-left: 10px;">This updates the database data from an Excel file in the media directory.</p>
          </div>
          <div class="col-md-8">
            <form id="sync_form_userdata" method="POST">
 

              <div class="row">&nbsp;</div>
              <div class="row">
                <div class="col-md-3">
                  <span><a id="sync_start_userdata" class="btn btn-primary btn-xs" 
                      sync-start="{% url 'sync_start' %}?synctype=userdata" 
                      sync-progress="{% url 'sync_progress' %}?synctype=userdata" 
                      onclick="ru.stalla.sync_start('userdata')">Update data from Excel</a>
                  </span>
                </div>
                <div id="sync_progress_userdata" class="col-md-9">
                  <!-- This is where the progress will be reported -->
                </div>
              </div>
              <div id="sync_details_userdata" class="row"></div>
            </form>
          </div>
        </div>
      </fieldset>

      <div class="row">&nbsp;</div>
    {% endif %}

  {% else %}
    <p>Since you are not logged in, no further processing of /entry information is possible.</p>
  {% endif %}

</div>


{% endblock %}
