{% extends "layout.html" %}

{% block content %}

<div class="container body-content">


  <h2>{{ title }}</h2>
  <h3>{{ message }}</h3>

  <address>
      Senior Researcher<br />
      History department<br />
      Institute for History, Literature and Cultural studies<br />
      Radboud University<br />
      Erasmusplein 1<br />
      NL-6525 HT Nijmegen<br />
      Netherlands<br />
      <abbr title="Phone">P:</abbr>
      +31 24 361 28 27
  </address>

  <address>
    <p>
      <strong>PASSIM contents:</strong> <a href="mailto:S.Boodts@let.ru.nl">Shari Boodts</a>
    </p>
    <p>
      <strong>Technical support:</strong>   <a href="mailto:e.komen@let.ru.nl">Erwin Komen</a> or <a href="mailto:t.hermsen@let.ru.nl">Thijs Hermsen</a><br />
    </p>
  </address>

</div>
{% endblock %}
