{% extends "layout.html" %}

{% block content %}

<div class="container body-content">


  <h2>{{ title }}</h2>
  <h3>{{ message }}</h3>

  <address>
      Senior Researcher<br />
      History department<br />
      Institute for History, Literature and Cultural studies<br />
      Radboud University<br />
      Erasmusplein 1<br />
      Kamer 11.14
      NL-6525 HT Nijmegen<br />
      Netherlands<br />
      <abbr title="Phone">P:</abbr>
      +31 24 361 26 23
  </address>

  <address>
    <p>
      <strong>STALLA contents:</strong> <a href="mailto:willy.piron@ru.nl">drs. Willy Piron</a>
    </p>
    <p>
      <strong>Technical support:</strong>   <a href="mailto:erwin.komen@ru.nl">Erwin Komen</a> <br />
    </p>
  </address>

</div>
{% endblock %}
