{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}


<div class="container body-content">

  <!-- Banner -->
  <div class="stalla-banner" img="{% static 'seeker/content/logo_stalla.jpg' %}">
    <!-- to the database button -->
    <div class="stalla-start">
      <a href="{% url 'werkstuk_list' %}" class="btn btn-success btn-xlarge">{% trans "To the database" %}</a>
    </div>
    <div class="stalla-ru">
      <a href="https://www.ru.nl/en/staff/researchers/research-facilities/technical-support-and-development/humanities-computer-lab"
         target="_blank"
         title="This implementation is provided by the Humanities lab of Radboud University">
        <img src="https://cls.ru.nl/RU_logo.svg" width="200" alt="RU logo">
      </a>
    </div>
  </div>

  {% if is_404 %}
    <div class="sent-error">
      Sorry, but the path that you attempted to use is not available for the Stalla application.
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <h1>Stalla - {% trans "Medieval choir stalls database" %}</h1>
      <p>
        {% blocktrans %}
        Choir stalls are part of the fixed church furniture in medieval monasteries and collegiate churches. Parts of the choir banks, such as the misericords, are frequently decorated with carvings. On the bench ends are mainly religious scenes. This is in contrast to the carvings of the misericords and the arm rests. There, the profane world predominates with fantasy creatures, human types, animals, proverbs and fables. Placed in the religious centre of the church building, the carvings of the choir stalls are an exponent of the medieval world view.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
        Since 15 April 2005, the CKD has been building a database with images and documentary data - in the broadest sense - of choir stalls and misericords in Europe. This is to make this rich world of images better known and to support scientific research into these objects and the associated late-medieval imagery.
        {% endblocktrans %}
      </p>
    </div>
  </div>

  <div class="row hidden">
    <div class="col-md-6">
      <a class="btn btn-large btn-success " href="{% url 'contact' %}">Contact</a>
    </div>
    <div class="col-md-6" align="right">
      <a class="btn btn-large btn-success " 
         href="https://www.ru.nl/rich/our-research/affiliated-institutes/centrum-voor-kunsthistorische-documentatie/databases/stalla/">RICH Stalla site</a>
    </div>
  </div>

</div>
<script type="text/javascript">

</script>


{% endblock %}
