{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

  <div class="container body-content">
    <div class="explanation">
      <p>Dear user, you are <b>not</b> logged in.</p>
      <p>Unfortunately this means that you will not be able to work with Stalla.</p>
        <ul>
          <li><a class="btn btn-info btn-xs" href="{% url 'login' %}">Login</a> - if you have an account</li> 
        </ul>
      </p>
    </div>

  </div>


{% endblock content %}
