{% load staticfiles %}
{% load i18n %}

    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container" url_home="{% url 'home' %}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">stalla
                {% if user.is_authenticated %}[ {{user.username}} ]{% endif %}             
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_superuser %}
                    <li><a href="{% url 'definitions' %}">{% trans "Definitions" %}</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">{% trans "Search" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <!-- Used to be 'werkstuk_list' -->
                          <li><a href="{% url 'werkstuk_list' %}">{% trans "Werkstuk" %}</a></li>
                          
                        </ul>
                      </li>

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                           aria-haspopup="true" aria-expanded="false">{% trans "Tools" %}<span class="caret"></span></a>
                        
                       <ul class="dropdown-menu">
                          <li><a href="" title="Bibliography">Bibliography</a></li> 
                          {% if is_app_editor %}
                            <li><a href="{% url 'sync_stalla' %}" title="Synchronization of Zotero and other items">Synchronization...</a></li>
                            
                          {% endif %}
                        </ul>
                      </li>

                      {% if is_app_uploader %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                             aria-haspopup="true" aria-expanded="false">Developers<span class="caret"></span></a>
                        
                         <ul class="dropdown-menu">
                            <li><a href_was="#" href="" title="Analyse HUWA database">HUWA analysis</a></li>
                            
                          </ul>
                        </li>
                      {% endif %}

                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                         aria-haspopup="true" aria-expanded="false">Extra... <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        {% if user.is_authenticated %}
                          <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
                              {% csrf_token %}
                          </form>
                          <li><a href="javascript:document.getElementById('logoutForm').submit()">{% trans "Log off" %}</a></li>
                          <li><a href="{% url 'admin:password_change' %}">{% trans "Change password" %}</a></li>
                        {% else %}
                          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{% trans "Log in" %}</a></li>
                          <li><a href="{% url 'signup' %}">{% trans "Sign up" %}</a></li>
                        {% endif %}
                      </ul>
                    </li>

                    <li style="top: 12px;">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <select name="language" class="dropdown"
                                    onchange="ru.stalla.set_language(this);">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                         </form>
                    </li>
                </ul>

            </div>
        </div>
    </div>
